@charset "utf-8";

/*header*/

header {
  width: 100%;
  height: 184px;
  margin: 0 auto;
}

/*header_top: login*/
#header_top {
  width: 1240px;
  height: 36px;
  margin: 0 auto;
}

#login {
  width: 191px;
  height: 36px;
  float: right;
  margin: 0;
}

#login>ul li {
  font-size: 12px;
  float: left;
  margin: 12px 0px 0 9px;
  border-left: 1px solid #eee;
  padding-left: 10px;
}

#login>ul li:first-child {
  border-left: none;
}

#login>ul>li>a {
  text-decoration: none;
  color: #aeaeae
}

/*header_mid: logo & search & service*/
#header_mid {
  width: 1240px;
  height: 96px;
  margin: 0 auto;
}

#logo {
  width: 210px;
  height: 96px;
  float: left;
  overflow: hidden;
  position: relative;
}

#logo>a>img {
  width: 121%;
  height: 105%;
  bottom: 0;
  right: -15px;
  position: absolute;
}

#search {
  width: 430px;
  height: 70px;
  float: left;
  margin: 9px 0 0 15px;
}

#search>input {
  width: 360px;
  height: 30px;
  border-radius: 5px;
  float: left;
  margin: 20px 0 0 10px;
  border: 0;
}

#search>a>img {
  width: 22px;
  height: 22px;
  float: right;
  margin: 27px 12px 0 0;
}

#search>hr {
  width: 95.5%;
  height: 1px;
  float: left;
  margin: 5px 0 0 10px;
  background-color: black;
  border: 0;
}

#service {
  width: 200px;
  height: 50px;
  float: right;
  margin: 17px 0 0 0;
}

#service>ul>li>a {
  float: left;
  margin: 17px 0 0 13px;
  text-decoration: none;
  font-size: 12px;
  color: black;
}

#service>ul>li>a>.mypage_icon {
  width: 22px;
  height: 22px;
  float: right;
  margin: -5px 0 0 5px;
}

#service>ul>li>a>.bag_icon {
  width: 23px;
  height: 24px;
  float: right;
  margin: -7px 0 0 5px;
}

.menu_icon>a>img {
  width: 10px;
  height: 10px;
}

/*header_bottom: all & nav & recent*/
nav {
  width: 100%;
  height: 52px;
  margin: 0 auto;
  border-top: 1.5px solid #eee;
  border-bottom: 1.5px solid #eee;
}

nav>#header_bottom {
  width: 1240px;
  height: 52px;
  margin: 0 auto;
}

#all_menu {
  width: 55px;
  height: 52px;
  float: left;
  border-left: 1.5px solid #eee;
  border-right: 1.5px solid #eee;
}

#all_menu>.all>li>a>img {
  width: 45%;
  height: 45%;
  margin: 12px 0 0 15px;
}

#nav_menu {
  width: 850px;
  height: 52px;
  float: left;
  margin-left: 12px;
}


#nav_menu>ul>li:first-child {
  float: left;
  margin: 17px 3px 0 25px;
}

#nav_menu>ul>li:not(:first-child) {
  float: left;
  margin: 16px 0 0 30px;
}

#nav_menu>ul>.brand>a {
  font-size: 15px;
}

#nav_menu>ul>.menu_icon>a>img {
  margin-left: 5px;
}

#nav_menu>ul>li>a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}

#nav_menu>ul>li>a:hover {
  border-bottom: 4px solid black;
  padding-bottom: 13px;
}

#nav_menu>ul>.menu_icon>a:hover {
  border-bottom: none;
}

/*sub nav*/
.sub{
  width:180px;
  height:auto;
  position: absolute; 
  margin-top:14px;
  z-index: 30;
  background-color:#fff;
  border: 1px solid #000;
  box-sizing: border-box;
  display: none;
}

.sub li {
  width:100%;
  height:40px;
  line-height: 40px;
  color:#000;
  text-decoration: none;
  display: block;
}

.sub a{
  font-size: 14px;
  color:#000;
  text-decoration: none;
  display: block;
  margin-left: 15px;
}

/*sub large (브랜드)*/
.sub_large{
  width:58%;
  height:520px;
  position: absolute; 
  margin-top:19px;
  z-index: 30;
  background-color:#fff;
  border: 1px solid #000;
  box-sizing: border-box;
  display: flex;
  flex-flow: column wrap;
  padding-top: 20px;
}

.sub_large li {
  width:25%;
  height:40px;
  line-height: 40px;
  color:#000;
  text-decoration: none;
  display: block;
}

.sub_large a{
  font-size: 14px;
  color:#000;
  text-decoration: none;
  display: block;
  margin-left: 15px;
}

/*sub (아울렛)*/
.outlet{
  margin-top:19.5px;

}
#recent {
  width: 145px;
  height: 52px;
  float: right;
  margin-left: 15px;
}

#recent>ul>li {
  margin: 16px 0 0 25px;
  float: left;
}

#recent>ul>li>a {
  text-decoration: none;
  color: #606060;
  letter-spacing: -0.5px;
  font-size: 13px;
}

#recent>ul>.menu_icon>a>img {
  margin-left: 5px;
}

/*footer*/
footer {
  width: 100%;
  height: 653px;
  margin: 0 auto;
  font-size: 12px;
  color: #606060;
}

/*footer top*/
#footer_top {
  width: 100%;
  height: 244px;
  margin: 0 auto;
  border-top: 1.5px solid #dfdfdf;
  border-bottom: 1.5px solid #dfdfdf;
}

#footerbox_top {
  width: 1240px;
  height: 244px;
  margin: 0 auto;
}

.footer_title {
  font-size: 13px;
  margin: 9px 0 0 0;
  font-weight: bold;
}

#footerbox_top>#f_top1 {
  width: 310px;
  height: 204px;
  float: left;
  margin: 23px 0 23px 0;
  box-sizing: border-box;
  border-right: 1.5px solid #eee;
}

#footerbox_top>#f_top1>p {
  margin: 16px 0 18px 0;
}

#footerbox_top>#f_top1>#call {
  font-size: 25px;
  font-weight: bold;
}

#footerbox_top>#f_top1>#call>span {
  font-size: 12px;
  font-weight: normal;
  margin: 0 0 0 5px;
}

#footerbox_top>#f_top1>#content1 {
  margin-bottom: 24px;
}

#footerbox_top>#f_top1>#content2 {
  display: inline-block;
}

#footerbox_top>#f_top1>#content2>a {
  color: #606060;
}

#footerbox_top>#f_top1>#content2_right {
  display: inline-block;
  margin: 0 0 0 26px;
}

#footerbox_top>#f_top1>#content2_right>a {
  color: #606060
}

#footerbox_top>#f_top2 {
  width: 310px;
  height: 204px;
  float: left;
  margin: 23px 0 23px 0;
  box-sizing: border-box;
  border-right: 1.5px solid #eee;
}

#footerbox_top>#f_top2>.footer_title {
  margin: 9px 0 0 30px;
}

#footerbox_top>#f_top2>#customer_menu {
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  margin: 12px 0 0 30px;
  height: 130px;
  line-height: 26px;
}

#footerbox_top>#f_top2>#customer_menu>li {
  margin-right: 35px;
}

#footerbox_top>#f_top2>#customer_menu>li>a {
  text-decoration: none;
  color: #606060;
}

#footerbox_top>#f_top2>#customer_menu>li>a:hover {
  text-decoration: underline;
  color: black;
}

#footerbox_top>#f_top3 {
  width: 310px;
  height: 204px;
  float: left;
  margin: 23px 0 23px 0;
  box-sizing: border-box;
  border-right: 1.5px solid #eee;
}

#footerbox_top>#f_top3>.footer_title {
  margin: 9px 0 0 30px;
}

#footerbox_top>#f_top3>#news {
  width:235px;
  height: 130px;
  margin: 19px 0 0 30px;
  table-layout: fixed;
}

#footerbox_top>#f_top3>#news td{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#footerbox_top>#f_top3>#news a {
  text-decoration: none;
  color: #606060;
}

#footerbox_top>#f_top3>#news a:hover {
  text-decoration: underline;
  color: black;
}

#footerbox_top>#f_top4_top {
  width: 289px;
  height: 67px;
  float: left;
  margin: 30px 0 0 20px;
  position: relative;
  box-sizing: border-box;
  border-bottom: 1.5px solid #eee;
}

#footerbox_top>#f_top4_top>#family_site {
  width: 266px;
  height: 34px;
  font-size: 12px;
  font-weight: bold;
  color:#575757;
  padding: 0 0 0 20px;
  line-height: 32px;
  border: 1.5px solid #dfdfdf;
  background: url("../img/icon/down_icon.png") no-repeat 95% 50%/11px;
  font-family: 'Noto Sans KR', sans-serif;

  -webkit-appearance:none;
  -moz-appearance: none;
  appearance: none;
  
}

#footerbox_top>#f_top4_top>#family_site:hover {
  cursor: pointer;
}


#footerbox_top>#f_top4_bottom {
  width: 289px;
  height: 123px;
  float: left;
  margin: 0 0 0 20px;
}

#footerbox_top>#f_top4_bottom>a>img {
  width: 289px;
  height: 123px;
}

/*footer mid*/
#footer_mid {
  width: 100%;
  height: 315px;
  margin: 0 auto;
}

#footerbox_mid {
  width: 1240px;
  height: 315px;
  margin: 0 auto;
}

#footerbox_mid>#f_mid1>ul {
  display: inline-block;
  margin: 21px 0px 20px 0;
}

#footerbox_mid>#f_mid1>ul>li {
  float: left;
  margin: 0 20px 0 0;
}

#footerbox_mid>#f_mid1>ul>li>a {
  text-decoration: none;
  color: #606060;
}

#footerbox_mid>#f_mid1>ul>li>a:hover {
  text-decoration: underline;
  color: black;
}

#footerbox_mid>#f_mid1>ul>.bold>a {
  text-decoration: none;
  color: #363636;
  font-weight: bold;
}

#footerbox_mid>#f_mid2>pre {
  margin: 8px 0 0 0;
}

#footerbox_mid>#f_mid2>pre>span {
  border: 1px solid #dfdfdf;
  padding: 4px 10px;
}

#footerbox_mid>#f_mid2>pre>span>a {
  text-decoration: none;
  color: #606060;
}

#footerbox_mid>#f_mid2>pre>span>a:hover {
  text-decoration: underline;
}

#footerbox_mid>#f_mid3>ul {
  display: inline-block;
  margin: 14px 0 0 0;
}

#footerbox_mid>#f_mid3>ul>li {
  float: left;
  border-right: 1px solid #dfdfdf;
}

#footerbox_mid>#f_mid3>ul>li:nth-child(3) {
  border-right: none;
}

#footerbox_mid>#f_mid3>ul>li:last-child {
  border-right: none;
}

#footerbox_mid>#f_mid3>ul>li>span {
  border: 1px solid #dfdfdf;
  padding: 4px 12px;
  line-height: 55px;
}

#footerbox_mid>#f_mid3>ul>li>span>a {
  text-decoration: none;
  color: #606060;
}

#footerbox_mid>#f_mid3>ul>li>span>a:hover {
  text-decoration: underline;
}

#footerbox_mid>#f_mid4>a>img {
  width: 32px;
  height: 32px;
  margin: 24px 8px 0 0;
}

/*footer bottom*/
#footer_bottom {
  width: 100%;
  height: 94px;
  margin: 0 auto;
  background-color: #eee;
}

#footerbox_bottom {
  width: 1240px;
  height: 94px;
  margin: 0 auto;
}

#footerbox_bottom>p {
  display: inline-block;
  line-height: 24px;
  margin-top: 10px;
}

#footerbox_bottom>.copyright {
  color: #aeaeae;
  margin-top: 0px;
}